<div class="page-width">
  {%- if section.settings.show_title -%}
    <h1 class="page-title">{{ page.title }}</h1>
  {%- endif -%}

  <div class="page-content rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section-main-page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}
